In [23]:
import pandas as pd

In [24]:
test_df = pd.read_csv('testing_with_blip.csv')
training_df= pd.read_csv('training_with_blip.csv')
validation_df = pd.read_csv('validation_with_blip.csv')

In [25]:
test_df.shape, training_df.shape, validation_df.shape

((228, 4), (1819, 4), (227, 4))

In [26]:
test_df = test_df.drop(test_df.columns[0], axis=1)
training_df = training_df.drop(training_df.columns[0], axis=1)
validation_df = validation_df.drop(validation_df.columns[0], axis=1)

In [27]:
display(test_df.head())
display(training_df.head())
display(validation_df.head())

,group,image_path,blip
0,453,sofas/sofa-beds/91503_image_0_resized.jpg,"[0.38693681359291077, 0.19435164332389832, -0...."
1,104,sofas/4-seaters-up/94024_image_0_resized.jpg,"[0.6286948919296265, -0.5614968538284302, -0.1..."
2,185,sofas/l-shape/91717_image_0_resized.jpg,"[0.42798036336898804, 0.20924703776836395, 0.0..."
3,115,sofas/4-seaters-up/88163_image_0_resized.jpg,"[0.021315090358257294, 0.19990620017051697, -0..."
4,811,chairs/office-chairs/25435_image_0_resized.jpg,"[0.2223481684923172, 0.12761016190052032, -0.0..."

,group,image_path,blip
0,13,sofas/2-seaters/91513_image_0_resized.jpg,"[-0.28666922450065613, -0.6765906810760498, -0..."
1,13,sofas/2-seaters/87437_image_0_resized.jpg,"[0.20910055935382843, -0.016624245792627335, 0..."
2,14,sofas/2-seaters/88716_image_0_resized.jpg,"[-0.27765217423439026, 0.284512460231781, -0.0..."
3,14,sofas/2-seaters/94018_image_0_resized.jpg,"[-0.5567976236343384, 0.18054495751857758, -0...."
4,15,sofas/2-seaters/91579_image_0_resized.jpg,"[0.01144308689981699, -0.23772938549518585, -0..."

,group,image_path,blip
0,391,sofas/outdoor-sofas/14619_image_0_resized.jpg,"[0.05484333261847496, -0.4026709496974945, 0.1..."
1,93,sofas/3-seaters/46964_image_0_resized.jpg,"[-0.2954059839248657, -0.08965714275836945, -0..."
2,61,sofas/3-seaters/92228_image_0_resized.jpg,"[0.3323415517807007, -0.3226076364517212, -0.1..."
3,332,sofas/lounge-chairs/49322_image_0_resized.jpg,"[-0.1696816384792328, -0.2943868339061737, 0.0..."
4,879,chairs/stools-ottomans/41477_image_0_resized.jpg,"[-0.04996024817228317, 0.190990149974823, -0.0..."

In [28]:
# merge all dataframes into one adding all rows
all_df = pd.concat([test_df, training_df, validation_df], ignore_index=True)
all_df.shape

(2274, 3)

In [29]:
all_df

,group,image_path,blip
0,453,sofas/sofa-beds/91503_image_0_resized.jpg,"[0.38693681359291077, 0.19435164332389832, -0...."
1,104,sofas/4-seaters-up/94024_image_0_resized.jpg,"[0.6286948919296265, -0.5614968538284302, -0.1..."
2,185,sofas/l-shape/91717_image_0_resized.jpg,"[0.42798036336898804, 0.20924703776836395, 0.0..."
3,115,sofas/4-seaters-up/88163_image_0_resized.jpg,"[0.021315090358257294, 0.19990620017051697, -0..."
4,811,chairs/office-chairs/25435_image_0_resized.jpg,"[0.2223481684923172, 0.12761016190052032, -0.0..."
...,...,...,...
2269,331,sofas/lounge-chairs/89623_image_0_resized.jpg,"[0.1230996698141098, -0.3463379740715027, -0.4..."
2270,87,sofas/3-seaters/91602_image_0_resized.jpg,"[0.43745896220207214, -0.024218738079071045, 0..."
2271,316,sofas/leather-sofas/88717_image_0_resized.jpg,"[-0.11025682836771011, -0.4462471008300781, -0..."
2272,856,chairs/office-chairs/79309_image_0_resized.jpg,"[-0.0018005091696977615, -0.367832213640213, 0..."
2273,314,sofas/leather-sofas/91684_image_0_resized.jpg,"[-0.1742977797985077, -0.5113781690597534, 0.1..."

In [30]:
# see if any duplicate image_path
all_df[all_df.duplicated(subset='image_path')]
all_df = all_df.drop_duplicates(subset='image_path')
all_df.shape

(2274, 3)

In [31]:
# save merged dataframe
all_df.to_csv('all_with_blip.csv')